---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
    title="404 - Página não encontrada"
    description="Esta página não existe."
>
    <section class="w-full">
        <h1>404</h1>
        <p>Essa página infelizmente não existe.</p>
        <p><a href="/">voltar</a></p>
    </section>
</BaseLayout>
