<header data-layout="site-header">
    <a href="/" title="Home" is-="button" variant-="green" size-="small">
        talkinghead
    </a>
    <div data-layout="header-links">
        <a
            href="https://github.com/ttusk"
            target="_blank"
            rel="noopener noreferrer"
            title="GitHub"
            is-="button"
            variant-="blue"
            size-="small"
        >
            github
        </a>
        <a
            href="/rss.xml"
            target="_blank"
            rel="noopener noreferrer"
            title="RSS Feed"
            is-="button"
            variant-="cyan"
            size-="small"
        >
            rss
        </a>
    </div>
</header>
