---
import BaseLayout from "@layouts/BaseLayout.astro";
const title = "Portfólio & Blog";
const description = "Desenvolvedor de Software e Pesquisador.";
---

<BaseLayout title={title} description={description}>
    <section class="w-full space-y-8">
        <slot />
    </section>
</BaseLayout>
