---
import BaseLayout from "@layouts/BaseLayout.astro";
const title = "Portfólio & Blog";
const description = "Desenvolvedor de Software e Pesquisador.";
---

<BaseLayout title={title} description={description}>

    <section>
        <slot />
    </section>

</BaseLayout>
